body {
    font-family: 'Roboto Mono', sans-serif; 
    font-family: Arial, sans-serif;
  }

/*Header*/
.navbar-simi{
    color: #f4eefe !important;
    font-size: 40px;
    text-decoration: none;
}

.logo-container {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  
  .logo-simi {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150%;
    height: 150%;
    object-fit: contain;
    z-index: 1;
  }
  
  .logo-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background-color: white;
    z-index: 0;
  }

.navbar-custom {
    background-color: #5dbf40;
}

.navbar-custom .nav-link {
    color: #f4eefe !important;
    font-size: 18px;
}

.navbar-simi:hover {
    text-decoration: none;
}


/* Hero */
.logo-smaller {
    width: auto; 
    height: 25%; 
}

.column-1-hero {
   text-align: center; 
   font-family: 'Text Me One', sans-serif;
}

.column-1-hero h1 {
    font-size: 50px;
    font-weight: bold;
}

.labtecnosoc-logo{
    justify-content: center;
    text-align: center;
    padding: 70px;
}

.logo {
    width: 150px; 
    height: auto;
}


/*Efecto hover para logo de google play*/ 
  .google-play-link {
    display: inline-block;
    position: relative;
  }
  
  .google-play-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
  }
  
  .google-play-link:hover:before {
    opacity: 1;
  }
  
  .logo-smaller {
    transition: transform 0.3s;
  }
  
  .logo-smaller:hover {
    transform: scale(1.1);
    cursor: pointer;
  }





/* Cards */
.bg-custom{
    text-align: center;
}

#cards-section {
    background-color: #f4eefe; 
    position: relative; 
    min-height: 100%; 
    width: 100%; 
    padding: 10px; 
}

#cards-section-1 {
    background-color: #f4eefe; 
    justify-content: center;
    position: relative; 
    min-height: 100%; 
    width: 100%; 
    padding: 10px; 
}

#cards-section .row {
  position: relative;
  z-index: 0;
}

.title-above-cards {
  position: relative;
  z-index: 2;
}


/* Cards-equipo */

.bg-custom-1 {
    background-color: transparent;
}

.col-md-12.text-center {
  margin-bottom: -30px;
}

.smaller-image {
    width: 150px; 
    height: auto; 
}

#people-images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -10px;
}

.container.people-images {
  max-width: 100%;
}

.hero-image {
  max-height: 749px; /* Ajusta el valor según la altura deseada */
  width: auto;
  margin: 0 auto;
  margin-left: -15px;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 50%; /* Sets the image to a circle */
  width: auto; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
}




/* Logos sections */
#apoyo.apoyo {
  margin-top: -100px;
  margin-bottom: 50px; 
}



/* Footer */
#footer{
    background-color: #99e968; 
    position: relative; 
    min-height: 150%; 
    width: 100%; 
    padding: 50px 0;
}
  
.white-link {
    color: #fff; 
}
  
#favicon {
    filter: invert(1);
    height: 100px;
    width: auto;
}